# MongoDB Atlas connection string
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/rage?retryWrites=true&w=majority

# JWT signing secret
JWT_SECRET=4ff79ebb28d08e65eb969e42266e063d7414420c74d21e6b0499d5aa3ff1fc38

PORT=3000
